@page "/AddGroup"
@using SEP3_Client.Data
@inject IClientModel ClientModel
@inject NavigationManager NavigationManager
<div style="float: left; width: 100%;height: auto;">
<div style="text-align: center;
         width: 800px;
         height: 800px;
         margin: auto;
         ">
    <button class="oi oi-chevron-left" style="float:left; text-align: left;height: 30px; background-color: #007bff" @onclick="back">
        Back
    </button>
    <p>
        <span class="oi oi-flag"></span>
        <input type="text" placeholder="Group name" style="width:400px" @bind="groupName"/>
        <button class="oi oi-plus" style="float:right;background-color: #ed969e; height: 26px" @onclick="addGroup" ></button>
    </p>
    <p style="color: red">
        @error
    </p>
</div>
</div>

@code {
    private string groupName;
    private string error;
    
    protected override async Task OnInitializedAsync()
    {
        if (!MainLayout.IsLogin())
        {
            NavigationManager.NavigateTo("");
        }
    }

    private void addGroup()
    {
        if (groupName!=null)
        {
            ClientModel.AddNewGroup(groupName);
            NavigationManager.NavigateTo("/Group");
        }
        else
        {
            error = "Please write the group name";
        }
    }

    private void back()
    {
        NavigationManager.NavigateTo("/Interest");
    }
}