@page "/AddGroup"
@inject NavigationManager NavigationManager
<div style="float: left; width: 100%;height: auto;">
<div style="text-align: center;
         width: 800px;
         height: 800px;
         margin: auto;
         ">
    <button class="oi oi-chevron-left" style="float:left; text-align: left;height: 30px; background-color: #007bff" @onclick="back">
        Back
    </button>
    <p>
        <span class="oi oi-flag"></span>
        <input type="text" placeholder="Group name" style="width:400px" @bind="groupName"/>
        <button class="oi oi-plus" style="background-color: #ed969e; height: 26px" @onclick="addGroup" ></button>
    </p>
</div>
</div>

@code {
    private string groupName;

    private void addGroup()
    {
        NavigationManager.NavigateTo("/Group");
    }

    private void back()
    {
        NavigationManager.NavigateTo("/Group");
    }
}