@page "/EditProfile"
@using SEP3_Client.Data
@using SEP3_Client.Model.Unit.User
@inject NavigationManager NavigationManager
@inject IClientModel ClientModel

<div style="float: left; width: 100%;height: auto;">
<div style="text-align: center;
         width: 300px;
         height: 350px;
         margin: auto;
         ">
    <h1 style="text-shadow: 2px 2px 5px #818182; color: #4e555b" >Profile</h1>
    <div style="margin: 40px auto;width: 300px;height: 40px">
        <span class="oi oi-person" style="float: left;width:50px;height:40px;color: #fd7e14;font-size: xx-large;line-height:50px;text-align: center"></span>
        <input type="text" placeholder="Username" style="float: left;width:250px;height: 40px" @bind="username"/>
    </div>
    <div style="margin: 40px auto;width: 300px;height: 40px">
        <span class="oi oi-key" style="float: left;width:50px;height:40px;color: #fd7e14;font-size: xx-large;line-height:50px;text-align: center"></span>
        @if (change.Equals(true))
        {
            <input type="password" style="float: left;width:220px;height: 40px" @bind="password"/>
        }
        @if (change.Equals(false))
        {
            <input type="password" disabled style="float: left;width:220px;height: 40px" @bind="password"/>
        }
        
        <button class="oi oi-pencil" style="float: right;width:20px;height:30px;color: #495057;font-size: xx-large;line-height:50px;text-align: center" @onclick="clickPen"></button>
     </div>
    <div style="float: left">
        <div>
            Birth of date: Month :
            <select class="form-control selectpicker" style="width: 150px" @bind=month>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>
        <div>
        Day :
        <select class="form-control selectpicker" style="width: 150px" @bind="day">
            @for (int i = 0; i < GetDays(month); i++)
            {
                <option>@(i+1)</option>
            }
        </select>
        </div>
    </div>
    <div>
        <button class="btn btn-light" style="width: 100%;height: 100%;background-color: #9fcdff" @onclick="update">SAVE</button>
    </div>
   
</div>
</div>

@code {
    private string username;
    private string password;
    private int month;
    private int day;
    private bool change;

    protected override async Task OnInitializedAsync()
    {
        Account account = ClientModel.GetAccount().Copy();
        username = account.GetUserName();
        password = account.Password;
        if (account.Birthday==null)
        {
            month = 0;
            day = 0;
        }
        else
        {
            month = account.Birthday.GetMonth();
            day = account.Birthday.GetDay();
        }
        change = false;
    }

    private List<int> num = new[]
    {
        31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31
    }.ToList();

    private async Task update()
    {
        Account newAccount = ClientModel.GetAccount().Copy();
        newAccount.Update(username,new Birthday(day,month));
        await ClientModel.UpdateBasicInformation(newAccount);
        await ClientModel.ChangePassword(ClientModel.GetAccount().Password, password);
        NavigationManager.NavigateTo("/Profile");
    }

    private int GetDays(int month)
    {
        if (month>0)
        {
            return num[month - 1];
        }
        return 0;
    }

    private void clickPen()
    {
        change = true;
    }

}