@page "/Profile"
<h3>Profile</h3>
<div style="background-color: #b9bbbe">
    <div class="rounded-circle">
        <span class="oi oi-person" style="text-align: center"></span>
    </div>
    username
</div>
<div>
    <span class="oi oi-sun" style="float: left">accountNo</span>
    
</div>
@code {
    
}