@page "/Moment"
@inject NavigationManager NavigationManager
<h3>Moment</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (!MainLayout.IsLogin())
        {
            NavigationManager.NavigateTo("");
        }
    }

}